@import "vars";
@import "global";
@import "fonts";

// start header

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}

.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    &-login {
        background-color: $green;
    }
    &-register,
    &-logout {
        background-color: $red;
        margin-left: 7px;
    }
}
.header__box {
    display: flex;
    align-items: center;
    .push__menu {
        z-index: 5;
    }
}

.header__menu {
    background-color: $bg;
}
.menu {
    display: flex;
    align-items: center;
    height: 60px;
    &__list {
        display: flex;
        a {
            color: #fff;
            font-size: 14px;
        }
        li {
            display: inline-block;
            & + li {
                margin-left: 33px;
            }
        }
    }
    &__btn {
        cursor: pointer;
        div {
            width: 30px;
            height: 2px;
            background-color: #fff;
            & + div {
                margin-top: 5px;
            }
        }
    }
}

.header__circle {
    z-index: 5;
    display: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;

    &.active {
        display: block;
    }
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        color: #a0a0a0;
    }
    span {
        position: absolute;
        right: -6px;
        top: -6px;
        width: 18px;
        height: 18px;
        line-height: 18px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 11px;
    }
}
.notification {
    span {
        background-color: #fcb322;
    }
}
.message {
    span {
        background-color: $tomato;
    }
}
.basket {
    margin-right: 20px;
    span {
        background-color: $green;
    }
}
.notification__item-images {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.notification__box {
    position: relative;
    margin-top: 30px;
    height: 65px;
    &:hover {
        .notification__menu {
            height: 248px;
            border-width: 1px;
        }
        .icon-bell-o::before {
            color: $bg;
        }
    }
}
.notification__menu {
    position: absolute;
    background-color: #fff;
    border: 0px solid #acabab;
    top: 62px;
    right: -5px;
    width: 268px;
    height: 0;
    transition: all 0.3s;
    overflow: hidden;
}
.notification__item {
    display: flex;
    padding: 18px 30px 15px 18px;
    border-bottom: 1px solid #000;
    .icon-bell-o {
        color: $tomato;
        font-size: 16px;
        margin-left: 32px;
        margin-top: 5px;
    }
}
.notification__info {
    margin-left: 20px;
    padding-right: 20px;
    &-topic {
        font-size: 11px;
        color: $green;
    }
    &-date {
        font-size: 10px;
        color: #707070;
    }
}
.message__item-images {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.message__box {
    position: relative;
    margin-left: 15px;
    margin-top: 30px;
    height: 65px;
    &:hover {
        .message__menu {
            height: 318px;
            border-width: 1px;
        }
        .icon-envelope-o::before {
            color: $bg;
        }
    }
}
.message__menu {
    position: absolute;
    background-color: #fff;
    border: 0px solid #acabab;
    top: 62px;
    right: -5px;
    width: 268px;
    height: 0;
    transition: all 0.3s;
    overflow: hidden;
}
.message__item {
    display: flex;
    padding: 18px 30px 15px 18px;
    border-bottom: 1px solid #000;
    .icon-envelope-o {
        color: $tomato;
        font-size: 16px;
        margin-left: 32px;
        margin-top: 10px;
    }
}
.message__info {
    margin-left: 20px;
    padding-right: 20px;
    &-name {
        font-size: 12px;
        color: $bg;
        @include f700;
    }
    &-topic {
        font-size: 11px;
        color: $green;
    }
    &-date {
        font-size: 10px;
        color: #707070;
    }
}

.basket__box {
    position: relative;
    margin-left: 15px;
    margin-top: 30px;
    height: 65px;
    &:hover {
        .basket__menu {
            height: 329px;
            border-width: 1px;
        }
        .basket::before {
            color: $bg;
        }
    }
    .basket__menu {
        position: absolute;
        background-color: #fff;
        width: 268px;
        top: 62px;
        right: -15px;
        border: 0px solid #adadad;
        transition: all 0.3s;
        height: 0;
        overflow: hidden;
    }
    .basket__item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #000;
    }
    .basket__info {
        margin-left: 20px;
        padding: 20px 40px 15px 0;
        &-title {
            font-size: 15px;
            color: $bg;
            @include f500;
        }
        &-theme {
            font-size: 12px;
            color: $green;
        }
        &-price {
            font-size: 16px;
            color: #000;
            @include f500;
        }
    }
    .basket__summ {
        text-align: center;
    }
    .basket__total-price {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        @include f700;
        color: $bg;
        padding: 15px 25px;
    }
}
.basket__btn {
    font-size: 14px;
    @include f700;
    text-align: center;
    color: #fff;
    &-box {
        margin-bottom: 15px;
    }
    &-cart {
        background-color: $green;
        padding: 9px 22px 9px 18px;
    }
    &-checkout {
        background-color: $red;
        padding: 9px 13px 9px 12px;
        margin-left: 5px;
    }
}
.header__btn-login--off {
    display: none;
}
.header__btn-logout {
    display: none;
    &.header__btn-login--on {
        display: block;
        background-color: $red;
    }
}

.user {
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::after {
        position: absolute;
        right: 0;
        top: 0;
        content: "\f107";
        font-family: "icomoon";
        font-size: 16px;
        color: #707070;
    }
    &__inner {
        display: flex;
        align-items: center;
    }
    &__images {
        margin-right: 15px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
    }
    &__info {
        font-size: 14px;
        line-height: 24px;
    }
    &__name {
        font-size: 14px;
        @include f500;
        color: #222;
    }
    &__money {
        font-size: 14px;
        @include f700;
        color: $green;
        line-height: 24px;
    }
}
.user__box {
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover {
        .user__menu {
            height: auto;
            border-width: 1px;
            padding: 20px;
        }
    }
}
.user__menu {
    position: absolute;
    background-color: #fff;
    border: 0px solid rgb(204, 204, 204);
    padding: 0 20px;
    width: 158px;
    top: 69px;
    left: 20px;
    transition: all 0.3s;
    height: 0;
    overflow: hidden;
    a {
        font-size: 12px;
        margin-bottom: 15px;
        color: #546e7a;
    }
}
.menu__btn,
.header__btn-menu {
    display: none;
}

// end header

// start modal

#modal {
    display: none;
    display: none;
    background-color: $green;
    max-width: 730px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 100px;
    .login__title {
        font-size: 48px;
        @include f700;
        color: #fff;
        margin-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
    }
    .login__wrapper {
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        label {
            position: relative;
            display: block;
            width: 100%;
            &::before {
                position: absolute;
                font-family: "icomoon";
                color: #fff;
                font-size: 14px;
                top: 9px;
                left: 18px;
            }
        }
        .login__label-name::before {
            content: "\f007";
        }
        .login__label-pass::before {
            content: "\f023";
        }
        input {
            height: 43px;
            margin-bottom: 8px;
            border: none;
            background-color: #76ae36;
            color: #fff;
            font-size: 14px;
            padding-left: 40px;
            display: block;
            width: 100%;
            &::placeholder {
                font-size: 14px;
                color: #fff;
            }
        }
        .submit__btn {
            margin-top: 19px;
            margin-right: 10px;
            padding: 19px 0 17px;
            border: none;
            background-color: #fff;
            width: 140px;
            box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
            @include f700;
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;
        }
        .lost-pass {
            display: block;
            margin-top: 20px;
            color: #fff;
            font-size: 18px;
        }
        .create-acc {
            width: 245px;
            background-color: #76ae36;
            color: #fff;
            margin-top: 19px;
            padding: 15px 0 15px 28px;
            box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
            text-align: center;
            font-size: 18px;
            position: relative;
            &::before {
                position: absolute;
                content: "\f044";
                font-family: "icomoon";
                top: 15px;
                left: 35px;
            }
        }
    }
    .fancybox-button svg path {
        fill: #fff;
    }
}

// end modal

// start search

.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
    &.page-search {
        min-height: 230px;
        .search__inner {
            padding: 55px 0 70px;
            &-text {
                margin-bottom: 20px;
            }
        }
    }
}
.search__inner {
    padding: 135px 0 100px 0;
    color: #fff;
    text-align: center;
    &-title {
        font-size: 48px;
        @include f700;
        margin-bottom: 10px;
        line-height: 72px;
    }
    &-text {
        font-size: 20px;
        @include f500;
        margin-bottom: 50px;
        line-height: 30px;
    }
    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding: 0 65px 0 23px;
            &::placeholder {
                color: #90a4ae;
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: transparent;
            top: 17px;
            right: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

// end search
// start products

.products {
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn {
    text-align: center;
    margin-bottom: 57px;
    button {
        padding: 12px 25px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button {
            margin-left: 5px;
        }
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}
.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name {
        max-width: 310px;
    }
    &-title {
        color: $bg;
        font-size: 18px;
        display: block;
    }
    &-category {
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price {
        font-size: 20px;
        color: $bg;
        @include f700;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author {
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: inline-block;
            margin-right: 14px;
        }
        span {
            font-size: 14px;
            @include f500;
        }
    }
    &-star {
        color: $bg;
    }
}

.products__bottom-btn {
    text-align: center;
    button {
        margin: 45px 5px 0;
        padding: 20px 30px;
        border: none;
        background-color: #fff;
        color: $bg;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        cursor: pointer;
        & + button {
            margin-left: 5px;
        }
    }
}

// end products
// start product-slider

.product-slider {
    padding: 110px 0 120px;
    .products__item.slick-slide + .slick-slide {
        margin-left: 30px;
    }
    .slick-dots {
        text-align: center;
        margin-top: 50px;
        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            button {
                border-radius: 50%;
                font-size: 0;
                background-color: rgb(232, 232, 232);
                width: 16px;
                height: 16px;
                border: none;
                cursor: pointer;
                outline: none;
            }

            &.slick-active {
                button {
                    background-color: $green;
                }
            }
        }
    }
}

// end product-slider
// start advantages

.advantages {
    padding: 124px 0 118px;
    background-color: $bg;
}

.advantages__title {
    text-align: center;
    color: #fff;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    max-width: 370px;
    text-align: center;

    &:hover {
        .advantages__item-images {
            background-color: $green;
        }
        .advantages__item-title {
            color: $green;
        }
        .advantages__item-images {
            g {
                fill: #fff;
            }
        }
    }
    &-images {
        width: 113px;
        height: 113px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all 0.5s;
    }
    &-title {
        color: #fff;
        margin-bottom: 25px;
        @include f500;
        transition: all 0.3s;
        font-size: 24px;
    }
    &-text {
        font-size: 15px;
    }
}

// end advantages
// start author

.author {
    min-height: 760px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.author__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
    max-width: 658px;
    width: 100%;
    height: 217px;
    &-title {
        color: #fff;
        font-size: 30px;
        line-height: 36px;
        max-width: 300px;
        @include f700;
    }
    &-link a {
        padding: 23px 41px;
        background-color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
}

// end author

// start tutorials

.tutorials {
    padding: 72px 0 90px;
}

.tutorials__title {
    text-align: center;
}
.tutorials__items {
    display: flex;
    justify-content: space-between;
}
.tutorials__item {
    max-width: 370px;
    width: 100%;
    &-image {
        min-height: 270px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-title {
        text-align: center;
        background-color: #f8f8f8;
        a {
            padding: 30px 66px;
            font-size: 24px;
        }
    }
}

// end tutorials

// start footer

.footer {
    background-color: $bg;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}
.footer__col {
    max-width: 270px;
    width: 100%;
    &-menu {
        max-width: 220px;
    }
    &-title {
        font-size: 22px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        padding-bottom: 22px;
        margin-bottom: 30px;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }
    &-text {
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}
.footer__info {
    margin-bottom: 20px;
    color: #fff;
    @include f500;
    padding-left: 30px;
    position: relative;
    &::before {
        position: absolute;
        content: "\f041";
        font-family: "icomoon";
        left: 0;
        color: $green;
        font-size: 18px;
    }
}
.footer__info-phone {
    &::before {
        content: "\f095";
    }
}
.footer__col-list {
    a {
        margin-bottom: 15px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before {
            content: "\f105";
            font-family: "icomoon";
            color: $green;
            position: absolute;
            left: 0;
            font-size: 18px;
        }
    }
}

.footer__copy {
    padding-top: 26px;
    border-top: 1px solid #424d53;
}
.footer__copy-text {
    text-align: center;
    color: #919699;
}
.footer__social-link {
    margin-bottom: 33px;
    li {
        display: inline-block;
        & + li {
            margin-left: 7px;
        }
    }
    a {
        width: 28px;
        height: 28px;
        background-image: url(../images/css_sprites.png);
    }
}
.link-twitter {
    background-position: -28px 0;
}
.link-youtube {
    background-position: 0 -28px;
}
.link-pinterest {
    background-position: -28px -28px;
}
.link-linkedin {
    background-position: -56px -0;
}
.footer__form-title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
}
.footer__form {
    position: relative;
    input {
        padding: 14px 50px 14px 14px;
        border: none;
        background-color: #2f3c43;
        width: 100%;
        height: 40px;
        &::placeholder {
            color: #697378;
            font-size: 14px;
        }
    }
    button {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $green;
        height: 40px;
        width: 43px;
        border: none;
        cursor: pointer;
        &::before {
            content: "\f124";
            position: absolute;
            font-family: "icomoon";
            font-size: 20px;
            top: 10px;
            left: 13px;
            color: #fff;
        }
    }
}
//end footer
// start product-page

.product-page__inner {
    display: flex;
    padding-bottom: 110px;
}
.product-page__aside {
    margin-right: 30px;
}
.aside__item {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0 32px 32px;
    margin-bottom: 30px;
    width: 270px;
}
.aside__title {
    border-bottom: 1px solid #dde3e8;
    padding: 23px 0 19px;
    color: $bg;
    font-size: 20px;
    @include f700;
}
.category__list {
    padding-top: 10px;
    li {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;
        &::before {
            content: "\f105";
            font-family: "icomoon";
            color: #8bc34a;
            position: absolute;
            left: 0;
            font-size: 18px;
        }
    }
    a {
    }
    span {
        color: #90a4ae;
        margin-left: 10px;
    }
}
.price-range {
    form {
        padding-top: 20px;
    }
    button {
        margin-top: 55px;
        color: #fff;
        border: none;
        background-color: $green;
        padding: 16px 10px;
        text-align: center;
        @include f500;
        display: block;
        width: 100%;
        cursor: pointer;
        position: relative;
        &::before {
            position: absolute;
            content: "\f002";
            font-family: "icomoon";
            color: #fff;
            position: absolute;
            left: 58px;
            top: 13px;
            font-size: 15px;
        }
    }
}

.irs-max,
.irs-min {
    display: none;
}

.irs--flat .irs-line {
    background-color: #f2f5f8;
    height: 5px;
}

.irs--flat .irs-bar {
    background-color: $bg;
    height: 5px;
}
.irs--flat .irs-handle {
    top: 19px;
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    border-radius: 50%;
    background-color: #fff;
}
.irs--flat .irs-handle > i:first-child {
    display: none;
}
.irs-from,
.irs-single,
.irs-to {
    top: 45px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
    display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
}

.top-sellers.aside__item {
    .products__item-img {
        min-height: 121px;
    }
    .products__item-content {
        border-bottom: 0px solid #000;
        padding: 20px 0 0;
    }
    .top-sellers.aside__item .rate-star {
        margin-right: 0;
    }
    .products__item-starNum {
        display: none;
    }
    .products__item-info {
        padding: 15px 0 20px;
        min-height: 60px;
    }
    .top-sellers__link {
        color: #fff;
        background-color: $green;
        padding: 16px 10px;
        width: 100%;
        text-align: center;
        display: block;
        @include f500;
    }
}

.aside__products-item {
    .products__item:last-child {
        margin-bottom: 0;
    }
    .products__item:first-child {
        margin-top: 26px;
    }
}

.product-page__filter {
    padding: 0 20px;
    margin-bottom: 30px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #90a4ae;
        outline: none;
        &.active {
            color: $green;
        }
    }
}
.product-page__filter-sort {
    color: #707070;
    font-size: 14px;
    display: flex;
}
button.icon-sort-amount-desc {
    font-size: 18px;
    color: #455a64;
}
button.icon-unsorted {
    font-size: 14px;
    color: #707070;
}
.product-page__content {
    width: 100%;
}
.product-page__content {
    .products__item {
        max-width: 270px;
        background-color: #fff;
        transition: all 0.3s;
    }
    .products__item-img {
        min-height: 180px;
    }
    .products__item-title {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .products__item-info {
        min-height: 65px;
        padding: 10px 20px;
    }
    .rate-star {
        margin-right: 5px;
    }
    .jq-ry-container {
        padding: 0;
    }
    .products__item-content {
        padding: 10px 20px;
    }
}

.product-page__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagination__list {
    li {
        display: inline-block;

        \f00b + li {
            margin-left: 6px;
        }
    }
    a,
    span {
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        width: 43px;
        height: 38px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: $bg;
        @include f500;
        &.active {
            background-color: $red;
            color: #fff;
        }
    }
}
.products__item-text {
    display: none;
}
.products__item-price {
    span {
        display: none;
    }
}
.products__item-list {
    display: none;
    .icon-comment-o,
    .icon-heart-o {
        color: #b0bec5;
        font-size: 12px;
        display: inline-block;
        padding-left: 50px;
        border-left: 1px solid #aeb4bb;
        position: relative;
        span {
            @include f500;
            color: $bg;
        }
        &::before {
            font-size: 16px;
            color: $green;
            position: absolute;
            left: 20px;
            top: 0;
        }
    }
    .icon-comment-o {
        padding-right: 30px;
        &::before {
            top: -2px;
        }
    }
}
.products__item {
    &.list {
        max-width: 100%;
        .products__item-img {
            width: 240px;
            float: left;
            min-height: 100%;
        }
        .products__item-text {
            display: block;
            font-size: 14px;
            color: #70838d;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .products__item-price {
            font-size: 30px;
            span {
                display: block;
                font-size: 13px;
                color: #aeb4bb;
                margin-top: 30px;
            }
        }
        .products__item-name {
            max-width: 480px;
        }
        .products__item-content {
            padding-top: 23px;
        }
        .products__item-list {
            display: block;
        }
        .products__item-star {
            margin-left: auto;
            padding-right: 30px;
        }
    }
}

// end product-page

//start product details

.product-one {
    padding-bottom: 100px;
    background-color: #f4f6f5;

    &__inner {
        display: flex;
        .product-one__content {
            max-width: 870px;
            margin-right: 30px;
            .product-one__images-inner {
                border: 1px solid #ccc;
                background-color: #fff;
                padding: 19px;
                margin-bottom: 30px;
                .product-one__images {
                    max-width: 830px;
                    height: 422px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .product-one__title {
                font-size: 30px;
                line-height: 30px;
            }
            .product-one__text {
                color: #707070;
                font-size: 16px;
                margin-bottom: 44px;
            }
            .product-one__box {
                display: flex;
                justify-content: space-between;
                text-align: center;
                margin-bottom: 55px;
                .product-one__link {
                    a {
                        padding: 16px 8px;
                        width: 150px;
                        font-size: 14px;
                        color: #fff;
                        & + a {
                            margin-left: 18px;
                        }
                    }
                    .link-live {
                        background-color: $red;
                    }
                    .link-screenshots {
                        background-color: #455a64;
                    }
                    .link-documentation {
                        background-color: $green;
                    }
                }
                .product-one__social {
                    a {
                        width: 54px;
                        height: 50px;
                        position: relative;
                        & + a {
                            margin-left: 3px;
                        }
                        &::before {
                            font-size: 18px;
                            color: #fff;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    .icon-facebook {
                        background-color: #6370b6;
                    }
                    .icon-twitter {
                        background-color: #64b5f6;
                    }
                    .icon-linkedin {
                        background-color: #4f71ce;
                    }
                    .icon-pinterest-p {
                        background-color: #d32f2f;
                    }
                    .product-icons {
                        color: #fff;
                    }
                }
            }
            .product-one__tabs {
                background-color: #fff;
                border: 1px solid #ccc;

                margin-bottom: 52px;
                font-size: 16px;
                .tabs {
                    display: flex;
                    justify-content: space-between;
                    color: #70838d;
                    .tab {
                        width: 100%;
                        padding: 20px 25px;
                        text-align: center;
                        border-bottom: 1px solid #ccc;
                        cursor: pointer;
                        & + .tab {
                            border-left: 1px solid #ccc;
                        }
                        &.active {
                            color: $bg;
                            @include f500;
                            border-bottom: 3px solid $green;
                        }
                    }
                }
                .tab_content {
                    padding: 39px 36px;
                    .tab-item {
                        display: none;
                        .tab-items__list {
                            column-count: 2;
                            li {
                                padding-left: 22px;
                                position: relative;
                            }
                        }
                        &.active-tab {
                            display: block;
                        }
                    }
                }
            }
            .product-one__more {
                &-title {
                    color: $bg;
                    font-size: 18px;
                    @include f500;
                    padding: 21px 28px;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    margin-bottom: 28px;
                }
                &-icons {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .productmini {
                        display: flex;
                        margin-bottom: 27px;
                        height: 90px;
                        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
                        max-width: 270px;
                        width: 100%;
                        align-items: center;
                        background-color: #fff;
                        .productmini__images {
                            width: 100px;
                            height: 90px;
                            margin-right: 20px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                        }
                        &__info {
                        }
                        &__title {
                            font-size: 14px;
                            @include f500;
                            color: $bg;
                        }
                        &__theme {
                            font-size: 12px;
                            color: $green;
                        }
                        &__price {
                            font-size: 18px;
                            @include f700;
                            color: $bg;
                        }
                    }
                }
            }
        }
        .product-one__aside {
            max-width: 270px;
            .aside__item {
                padding: 28px 26px;
                &.product__price {
                    .aside-title {
                        font-size: 20px;
                        color: $bg;
                        @include f700;
                        padding-bottom: 23px;
                        border-bottom: 1px solid #ccc;
                        margin-bottom: 30px;
                    }
                    .price-box {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 28px;
                        .price__product {
                            font-size: 22px;
                            @include f500;
                            color: #e74c3c;
                        }
                    }
                    .aside-buttons {
                        width: 100%;
                        border: none;
                        padding: 18px 30px;
                        color: #fff;
                        font-size: 16px;
                        font-family: "Roboto", sans-serif !important;
                        @include f700;
                        margin-bottom: 7px;
                        cursor: pointer;
                        box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
                        &::before {
                            font-weight: 400;
                            font-family: "icomoon";
                            padding-right: 8px;
                        }
                    }
                    .icon-shopping-cart {
                        background-color: $green;
                    }
                    .icon-heart-o {
                        background-color: #42a5f5;
                    }
                    .buy-btn {
                        background-color: $text;
                    }
                }

                .product__author-box {
                    display: flex;
                    margin-bottom: 24px;
                    .author__avatar {
                        margin-right: 16px;
                    }
                    .author__name {
                        font-size: 18px;
                        color: $bg;
                        margin-bottom: 7px;
                    }
                    .author__link {
                        font-size: 13px;
                        color: #707070;
                        padding: 3px 10px;
                        border: 1px solid #ccc;
                    }
                }
                .author__awards-list {
                    li {
                        display: inline-block;
                        color: #fff;
                        font-size: 20px;
                        text-align: center;
                        position: relative;
                        &::before {
                            position: absolute;
                            top: 6px;
                            left: 0;
                            right: 0;
                        }
                        & + li {
                            margin-left: 4px;
                        }
                    }
                    .icon-meh-o {
                        background-image: url(../images/awards/awards-orange.png);
                        width: 34px;
                        height: 37px;
                    }
                    .icon-pagelines {
                        background-image: url(../images/awards/awards-red.png);
                        width: 34px;
                        height: 37px;
                    }
                    .icon-bolt {
                        background-image: url(../images/awards/awards-blue.png);
                        width: 34px;
                        height: 37px;
                    }
                    .icon-foursquare {
                        background-image: url(../images/awards/awards-green.png);
                        width: 34px;
                        height: 37px;
                    }
                    .icon-yen {
                        background-image: url(../images/awards/awards-gray.png);
                        width: 34px;
                        height: 37px;
                    }
                }
                .aside__item-sales {
                    font-size: 16px;
                    color: #707070;
                    @include f300;
                    span {
                        font-size: 20px;
                        @include f700;
                        color: $bg;
                        margin-right: 10px;
                        padding-left: 35px;
                        &::before {
                            content: "\f07a";
                            font-family: "icomoon";
                            color: #a6b5bb;
                            left: 0;
                            top: 0;
                        }
                    }
                }
                .aside__item-info {
                    font-size: 14px;
                    .information__line {
                        margin-bottom: 15px;
                        span {
                            @include f500;
                            color: $bg;
                        }
                    }
                }
            }
        }
    }
}

// start 404

.page-404 {
    &__wrapper {
        border: 1px solid #ccc;
        margin-bottom: 150px;
        background-color: #fff;
        .page-404__head {
            font-size: 24px;
            @include f500;
            color: $bg;
            padding: 20px 25px;
            border-bottom: 1px solid #ccc;
        }
        .page-404__inner {
            background-color: $green;
            color: #fff;
            text-align: center;
            padding: 70px 0 100px;
            .page-404__404 {
                font-size: 300px;
                text-transform: uppercase;
                font-family: "Open Sans", sans-serif;
                margin-bottom: 30px;
                font-weight: 800;
                line-height: 300px;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    background-image: url(../images/content/page-404.png);
                    background-repeat: no-repeat;
                    width: 150px;
                    height: 292px;
                    margin-left: 20px;
                }
            }
            .page-404__title {
                font-size: 30px;
                font-family: "Open Sans", sans-serif;
                margin-bottom: 30px;
            }
            .page-404__text {
                font-size: 18px;
                font-family: "Raleway", sans-serif;
                font-weight: 500;
                margin: 0 auto;
                margin-bottom: 50px;
                max-width: 555px;
            }
            .page-404__link {
                text-transform: uppercase;
                font-size: 14px;
                color: #fff;
                border: 2px solid #fff;
                padding: 12px 10px;
                width: 209px;
                font-family: "Raleway", sans-serif;
                font-weight: 700;
                border-radius: 4px;
            }
        }
    }
}

// end 404

// start about
.about {
    &__wrapper {
        background-color: #fff;
        border: 1px solid #ccc;
        margin-bottom: 150px;
        .about__head {
            font-size: 24px;
            @include f500;
            color: $bg;
            padding: 20px 25px;
            border-bottom: 1px solid #ccc;
        }
        .about__inner {
            color: #fff;
            padding: 40px 45px 20px;
            .about__info {
                &-title {
                    font-weight: 700;
                    font-size: 20px;
                    color: #444;
                    margin-bottom: 30px;
                }
                &-text {
                    font-size: 15px;
                    color: #707070;
                    margin-bottom: 50px;
                }
            }
        }
    }
}

// end about

// start contact

.contact {
    &__wrapper {
        background-color: #fff;
        border: 1px solid #ccc;
        margin-bottom: 150px;
        .contact__head {
            font-size: 24px;
            @include f500;
            color: #444444;
            padding: 20px 25px;
            border-bottom: 1px solid #ccc;
        }
        .contact__inner {
            padding: 33px 40px 17px;
            .contact__map {
                max-width: 1091px;
                height: 415px;
                iframe {
                    width: 100%;
                    height: 415px;
                }
            }
            .contact__info {
                margin-top: 60px;
                width: 100%;
                display: flex;
                .contact__adress {
                    max-width: 280px;
                    margin-left: 37px;
                    margin-right: 80px;
                    .contact__adress-title {
                        font-size: 20px;
                        @include f500;
                        color: $bg;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        position: relative;
                        &::after {
                            position: absolute;
                            content: "";
                            bottom: 0;
                            left: 0;
                            width: 45px;
                            height: 5px;
                            background-color: $green;
                        }
                    }
                    .contact__adress-text {
                        font-size: 15px;
                        color: #707070;
                        margin-bottom: 25px;
                    }
                    .contact__adress-location {
                        .contact__adress-title {
                            &::before {
                                position: absolute;
                                content: "\f041";
                                font-family: "icomoon";
                                color: $green;
                                left: -30px;
                                top: 0;
                            }
                        }
                    }
                    .contact__adress-phone {
                        .contact__adress-title {
                            &::before {
                                position: absolute;
                                content: "\f095";
                                font-family: "icomoon";
                                color: $green;
                                left: -30px;
                                top: 0;
                            }
                        }
                    }
                    .contact__adress-email {
                        .contact__adress-title {
                            &::before {
                                position: absolute;
                                content: "\f095";
                                font-family: "icomoon";
                                color: $green;
                                left: -30px;
                                top: 0;
                            }
                        }
                    }
                }

                .contact__form {
                    max-width: 731px;
                    width: 100%;
                    &-title {
                        color: #333333;
                        @include f500;
                        font-size: 24px;
                        margin-bottom: 23px;
                    }
                    form {
                        .contact__form-row {
                            display: flex;
                            justify-content: space-between;
                            input {
                                background-color: #f1f4f5;
                                border: none;
                                padding: 16px 17px;
                                max-width: 344px;
                                width: 100%;
                                &::placeholder {
                                    font-size: 15px;
                                    color: #7a7a7a;
                                }
                            }
                        }
                        textarea {
                            background-color: #f1f4f5;
                            padding: 16px 17px;
                            border: none;
                            resize: none;
                            width: 100%;
                            margin-top: 28px;
                            margin-bottom: 20px;
                            &::placeholder {
                                font-size: 15px;
                                color: #7a7a7a;
                            }
                        }
                        button {
                            border: none;
                            padding: 20px 15px;
                            width: 190px;
                            background-color: $green;
                            color: #fff;
                            @include f700;
                            font-size: 16px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

// end contact

//start settings

.settings {
    padding-bottom: 100px;
    .product-one__tabs.settings__tabs {
        display: flex;
        .tabs {
            border: 1px solid #dedede;
            max-width: 270px;
            background-color: #fff;
            margin-right: 30px;
            height: 100%;
            .tab {
                display: block;
                padding: 15px 50px;
                @include f500;
                font-size: 14px;
                color: #707070;
                cursor: pointer;
                &:before {
                    left: 24px;
                    color: #444;
                }
                & + .tab {
                    border-top: 1px solid #ccc;
                }
                &.active {
                    color: $bg;
                    border-bottom: 2px solid $green;
                    &:before {
                        color: $green;
                    }
                }
            }
        }
        .tab__content {
            max-width: 870px;
            width: 100%;
            background-color: #fff;
            border: 1px solid #ccc;
            .tab__head {
                font-size: 24px;
                @include f500;
                color: #444444;
                padding: 20px 25px;
                border-bottom: 1px solid #ccc;
            }
            .tab-item {
                padding: 33px 37px 70px 37px;
                &.active-tab {
                }
                form {
                    .tab-line {
                        display: flex;
                        justify-content: space-between;
                        & + .tab-line {
                            margin-top: 22px;
                        }
                        .tab-item__text {
                            font-size: 15px;
                            color: #444;
                            width: 260px;
                        }
                        input {
                            border: 1px solid #dcdcdc;
                            background-color: #f9f9f9;
                            padding: 10px;
                            width: 100%;
                            max-width: 540px;
                        }
                        select {
                            max-width: 540px;
                            width: 100%;
                            border: 1px solid #dcdcdc;
                            background-color: #f9f9f9;
                            color: #444;
                        }
                    }
                    .tab-btn {
                        text-align: center;
                        margin-top: 22px;
                        button {
                            color: #fff;
                            padding: 13px;
                            width: 110px;
                            border: none;
                            background-color: $green;
                            @include f500;
                        }
                    }
                }
            }
        }
    }
}

//end settings

//start profile

//end profile

//start product details

@import "media";
